        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            text-align: center;
            background-color: rgb(135, 162, 225);
        }

        h1 {
            text-align: center;
            margin-top: 20px;
            font-size: 44px;
            font-weight: bold;
        }

        .container {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;
            padding: 20px;
        }

        .left-column {
            grid-column: 1 / 2;
            text-align: center;
        }

        .right-column {
            grid-column: 2 / 3;
            text-align: center;
        }

        .box {
            border: 2px solid #ccc;
            padding: 20px;
            background-color: #f9f9f9;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            height: 100%;
        }

        label {
            font-size: 18px;
        }

        textarea {
            width: 100%;
            height: 100px;
            font-size: 16px;
            margin-top: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            padding: 5px;
        }

        button {
            font-size: 16px;
            margin-top: 10px;
            padding: 10px 20px;
            background-color: #3498db;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        button:hover {
            background-color: #2980b9;
        }

        #result {
            margin-top: 20px;
            font-size: 20px;
        }

        img {
            max-width: 100%;
        }

        footer {
            text-align: center;
            margin-top: 20px;
            background-color: #333;
            color: #fff;
            padding: 10px;
            clear: both;
        }

        .img2 {
            max-width: 30%;
        }

        #copyButton {
            display: none;
            margin: 0 auto;
        }

        /*Titulo*/
        @import url(https://fonts.googleapis.com/css?family=Righteous);

        *,
        *:before,
        *:after {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            position: relative;
        }

        html,
        body {
            height: 10%;
        }


        body:before {
            content: '';
            display: inline-block;
            vertical-align: middle;
            font-size: 0;
            height: 100%;
        }

        h1 {
            display: inline-block;
            color: white;
            font-family: 'Righteous', serif;
            font-size: 4em;
            text-shadow: .03em .03em 0 hsla(230, 40%, 50%, 1);
        }

        h1:after {
            content: attr(data-shadow);
            position: absolute;
            top: .02em;
            left: .02em;
            z-index: -2;
            text-shadow: none;
            background-image:
                linear-gradient(45deg,
                    transparent 45%,
                    hsla(48, 20%, 90%, 1) 45%,
                    hsla(48, 20%, 90%, 1) 55%,
                    transparent 0);
            background-size: .05em .05em;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;

            animation: shad-anim 15s linear infinite;
        }

        @keyframes shad-anim {
            0% {
                background-position: 0 0
            }

            0% {
                background-position: 100% -100%
            }
        }